.contacts {
    height: 50vh;
    background-color: #eeeef5;
}
.title {
    background-color: #eeeef5;
}
.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.contact {
    border: 1px solid;
    width: 85%;
    display: flex;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
}
.input {
    width: 100%;
}