.footer {
    min-height: 30vh;
    background-color: #d4ffc0;
}
.title {
    background-color: #eeeef5;
}
.footerContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.social {
    border: 1px solid;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #eeeef5;
}
